section.about {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 row-gap: 10px;
	 flex-direction:column;
	 padding: 1rem;
	 height: auto;
}

.about-content {
          width: 900px;
	    max-width: 90%;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    gap: 5px;
/*	    border: 1px solid black;*/
            padding: 0 1.6rem;
}

.about h2 {
	    text-transform: capitalize;
	    font-size: 1.3rem; 
	    width: 605px;
	    max-width: 90%;
	    font-family: 'Roboto';
	    font-weight: normal;
	    font-variant: small-caps;
	    text-align: center;
	    position: relative;
}

.about h2::after {
	   content: "";
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  margin: auto;
	  width: 20%;
	  border-bottom: 2px solid black;
}



.thumb-profile {
/*	  border: 1px solid black;*/
	  display: flex;
      justify-content: center;
}

.thumb-profile img {
	  width: 100%;
       aspect-ratio:1 / 1;
       height: 100%;
       object-fit: cover;
}

.about p {
/*	    align-self: center;*/
/*	    width: 35ch;*/
/*	    height: 100%;*/
        text-align: justify;
	    width: 100%;
/*        border: 1px solid black;*/
}