section.about {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 column-gap: 10px;
	 flex-direction:column;
	 padding: 1rem;
	 height: auto;
}

.about h2 {
	    text-transform: capitalize;
	    font-size: 1.6rem; 
	    width: 600px;
	    max-width: 90%;
	    font-family: 'Space Grotesk';
	    font-weight: 500;
	    font-variant: small-caps;
	    text-align: center;
}

.about-content {
        width: 900px;
	    max-width: 90%;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    gap: 5px;
/*	    border: 1px solid black;*/
}

.thumb-profile {
/*	  border: 1px solid black;*/
	  display: flex;
      justify-content: center;
}

.thumb-profile img {
     aspect-ratio:2 / 2;
     object-fit: contain;
}

.about p {
	    align-self: center;
/*	    width: 35ch;*/
/*	    height: 100%;*/
	    width: 100%;
/*        border: 1px solid black;*/
}