section.about {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 column-gap: 10px;
	 flex-direction:column;
}

.about h2 {
	   text-transform: capitalize;
	   font-size: 1.5rem; 
	   width: 900px;
	   max-width: 90%;
	   font-weight: bold;
}

.about p {
	    width: 900px;
	   max-width: 90%;
}