section.blog {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  flex-direction: column;
	  height: auto;
	  row-gap: 10px;
	  padding-top: 2rem;
}

.blog h2 {
	 width: 900px;
	 max-width: 90%;
	 font-family: 'Space Grotesk';
	 font-weight: 500;
	 font-variant: small-caps;
	 text-align: center;
	 position: relative;
}

.blog h2::after {
	   content: "";
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  margin: auto;
	  width: 20%;
	  border-bottom: 2px solid black;
}

.blog-container {
	 width: 900px;
	 max-width: 90%;
	 display: flex;
	 justify-content: space-between;
	 flex-direction: column;
	 align-items: center;
	 gap: 10px;

}

.card {
	   width: 100%;
	   padding: 2rem;
	   background-color: #ddd;
}

.card h4 {
	 text-transform: capitalize;
	 font-weight: 500;
}

.card p {
	  text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
}