/* navigation */
nav {
/*	 border: 1px solid black;*/
	 display: flex;
	 justify-content: space-around;
	 text-transform: capitalize;
	 padding: .1rem;
}

nav a{
	 text-decoration: none;
}

nav .logo {
	  width: 100px;
	  height: 50px;
}

nav .logo img{
    /*  font-family: 'euphoria_scriptregular';
	  text-transform: uppercase;*/
   width: 100%;
}

nav ul {
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 30%;
     font-family: 'Space Grotesk';
     font-weight: 500;
/*     border: 1px solid black;*/
      box-sizing: border-box;
/*      overflow: hidden;*/
}

nav ul li{
/*     border: 1px solid black;*/
	  list-style: none;
}

nav ul li a {
/*     border: 1px solid blue;*/
	  display: block;
	  color: #000;
	  position: relative;
}

nav ul li a::before {
	 content: '';
	 position: absolute;
	 width: 0;
	 height: 3px;
	 left: 0;
     bottom: -2.5px;
     background: #dedede;
    transition: width .30s;
}

nav ul li a:hover::before{
	  content: '';
	  width: 100%;
}

/* hamburger menu */
.hamburger-container {
/*  border: 1px solid black;*/
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px 5px;
  position: relative;
  user-select: none;
	 
}

.hamburger-container .hamburger-icon {
	 background: #333;
	 display: block;
	 height: 2px;
	 position: relative;
	 width: 18px;
     transition: .1s;
}

.hamburger-icon::after,
.hamburger-icon::before{
	 background: #333;
	  content: "";
      display: block;
       height: 100%;
      position: absolute;
       width: 100%;
     transition: .3s;

}

.hamburger-icon::after{
    top: 5px;
}

.hamburger-icon::before{
    top: -5px; 
}

.hamburger-container.active .hamburger-icon {
	   background-color: transparent;
}

.hamburger-container.active .hamburger-icon::before {
	   transform: rotate(45deg);
       top: 0;
}

.hamburger-container.active .hamburger-icon::after {
	   transform: rotate(-45deg);
       top: 0;
}

/* hero */
.hero {
	 height:100vh;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: center;
	 padding: 1rem;
/*	 background-image: linear-gradient(to bottom, rgba(255, 255, 255, .7), rgba(255, 255, 255, .7))   ,url('../images/bg.png');*/
		   	  background-image: linear-gradient(225deg, #eae7e7 20%, #dedede 20% 50%, #e5e4e2 50% 80%, #dcdcdc 80%);

	 background-size: cover;
	 background-position: center;
	 background-repeat: no-repeat;
}

.hero-content {
       width: 900px;
       max-width: 90%;
       margin: auto;
       padding: 1rem;   
       display: flex;
       flex-direction: column;
      align-items: center;    
}

.hero-content .nama {
	  font-family: euphoria_scriptregular;
	  font-weight: bold;
}
.hero h1, 
.hero p, 
.hero a {
	  margin-left: 10px;
}

.hero h1 {
	 font-size: clamp(2rem, 5vw, 4rem);
	 text-transform: capitalize;
	 inherits: none;
	 font-family: 'Space Grotesk';
	 font-weight: 500;
} 

.hero p {
	 text-transform: capitalize;
	 margin-top: -15px;
	 margin-bottom: 15px;
}

