
/*
/* Mobile Devices (potrait and landscape) */
/*@media only screen and ( max-width: 767px ) {

}*/

/* Tablet Devices (potrait and landscape) */
/*@media only screen and ( min-width: 768px ) and ( max-width: 1023px ) {

}*/

/* Laptop Devices (potrait and landscape) */
/*@media only screen and ( min-width: 1024px ) and ( max-width: 1439px ) {

}*/

/* Dekstop Devices (potrait and landscape) */
/*@media only screen and ( min-width: 1440px ) {

}*/
  

/* Dekstop Devices (potrait and landscape) */
@media( width >= 1440px ) {

}  


/* Laptop Devices (potrait and landscape) */
@media( 1024px <= width <= 1439 ) {

}



/* Tablet Devices (potrait and landscape) */
@media( 768px <= width <= 1023px ) {
    /*  Navigation  */
    nav ul {
          width: 35%;
    }  
}



/* Mobile Devices (Potrait and landscape) */
@media( width >= 767px){
/* Navigation */
    nav ul{
        display: flex; 
    }

    .hamburger-container {
         display: none;
    }
/* Hero Section */
    .hero {
        align-items: flex-start;
    }

    .hero-content {
          align-items: flex-start;   
         
    }

/*  About  */
  section.about {
     height: 100vh;
}

.about h2 {
         text-align: left;
}

.about h2::after {
      left: 0;
      margin: 0;
}
   .about-content {
         flex-direction: row;   

   }
   .thumb-profile {
      align-items: center;
}

   .thumb-profile img {
      aspect-ratio: 1 / 1;
  }

  .about p {
        width: 30ch;
 }

/* skills  */
  .skills h2 {
      text-align: center;     
 } 

 .skill-container {
    flex-direction: row;
}
/* portfolio */
section.portfolio {
     height: 100vh;
}

.portfolio h2 {
     text-align: left;
}

.portfolio h2::after {
      left: 0;
      margin: 0;
       width: 10%;
}


.portfolio-container {
     justify-content: space-between;
     flex-wrap: wrap;
     flex-direction: row;
  }

  .project {
    text-align: center;
    width: 30%;
}

/* blog */
section.blog {
      height: 100vh;
/*      flex-direction: row;*/
     padding-top: 0;
}

.blog h2 {
     text-align: left;
}

.blog-container {
   flex-direction: row;
}

.blog h2::after {
      left: 0;
      margin: 0;
      width: 10%;
}


.card {
       width: 250px;
}

/* contact */
section.contact {
      height: 100vh;
      padding-top: 0;
}
.contact-container {
      grid-template-areas: 'name email'
                           'message message'
                           'sendbtn sendbtn'
                           'msosial msosial';
      gap: 10px;                     
}


}