@import url('reset.css');
@import url('header.css');
@import url('about.css');
@import url('skills.css');
@import url('font.css');
@import url('portfolio.css');
@import url('blog.css');
@import url('contact.css');
@import url('responsive.css');

body {
	  font: 1rem/1.5 'Space Grotesk', arial, sans-serif;
	  background-color: #fbfbfb;
	   font-weight: normal;
}

section{
	  height: 100vh;
/*	  border: 1px solid black;*/
}

.btn {
	/*border: 0;
	outline: 0;
	font-family: sans-serif;*/
	all: unset;
	background-color: #337ab7;
	color: #fff;
	padding: .4rem;
	border-radius: 5px;
/*	margin-left: 10px;*/
}

.btn:hover {
	  cursor: pointer;
	  background-color: #2e6da4;
} 

.btn-small {
	 padding: .3rem;
	 font-size: .8em;
}

footer {
	  display: flex;
	  justify-content: center;
}

.footer-container{
	  border-top: 1px solid #dee2e6;
	  width: 900px;
	  max-width: 90%;
	  display: flex;
	  align-items: center;
	  justify-content: space-around;
	  padding: 0.375rem 0.75rem;
	  min-height: 70px;
}